$red: #204D74;
$lightGray: #D6D7D9;
$lineheight: 1.6;
@import "bootstrap/_bootstrap.scss";
@import "bootstrap-datetimepicker/_bootstrap-datetimepicker.scss";
#statRight {
    width: 30%;
}

#statLeft {
    width: 70%;
}

.consumption-customer,
.simple-all-municipality,
.explicit-all-customers,
.explicit-single-municipality {
    & tbody tr:nth-child(odd) {
        background-color: #ccc;
    }
}

body {
    height: 1000px;
}

thead {
    background-color: white;
}

a.back-to-top {
    display: none;
    width: 30px;
    height: 30px;
    position: fixed;
    z-index: 999;
    bottom: 20px;
    right: 15px;
}

a.back-to-top:hover {
    background-color: black;
}

a.back-to-top i {
    margin-left: -4px !important;
}

.btn {
    margin-bottom: 5px;
}

.btn-primary {
    background-color: #4789CF;
    border-color: #4789CF;
}

.btn-primary:hover {
    background-color: #286090;
    border-color: #286090;
}

.btn-primary:focus,
.btn-primary:active:focus,
.btn.active.focus {
    background-color: #286090;
    border-color: #286090;
}

.all-servicereports-btn {
    background-color: #9C65B2;
    border-color: #9C65B2;
    color: white;
}

.saveLocation {
    margin-bottom: 10px;
}

.all-servicereports-btn:hover {
    background-color: #794E8A;
    border-color: #794E8A;
    color: white;
}

.all-servicereports-btn:focus,
.all-servicereports-btn:active:focus,
.btn.active.focus {
    background-color: #794E8A;
    border-color: #794E8A;
    color: white;
}

.print-btn {
    background-color: #1B6356;
    border-color: #1B6356;
    color: white;
}

.print-btn:hover {
    background-color: #154C42;
    border-color: #154C42;
    color: white;
}

.print-btn:focus,
.print-btn:active:focus,
.btn.active.focus {
    background-color: #154C42;
    border-color: #154C42;
    color: white;
}

#printBtn {
    float: right;
    margin-left: 4px;
}

#mailBtn {
    float: right;
}

.navbar-brand {
    height: 85px;
    padding: 5px 15px;
}

.navbar-brand>img {
    max-height: 75px;
}

.up {
    margin-right: 4px;
}

.deleteLoc {
    margin-top: 2px;
}

@media only screen and (max-width: 1000px) {
    a.back-to-top {
        right: 20px;
    }
    .btn {
        margin-bottom: 2px;
    }
    .normalselects {
        width: 100%;
        max-width: 90%;
    }
    table.customers,
    table.employees,
    table.depotcats,
    table.poisons,
    table.animals,
    table.customer-locations,
    table.reportlines,
    table.all-servicereports,
    table.rapportlines {
        /* Force table to not be like tables anymore */
        & table,
        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
        }
        > tbody > tr:nth-of-type(odd) {
            background-color: #e0e0e0;
        }
        /* Hide table headers (but not display: none;, for accessibility) */
        & thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        & tr {
            border: 1px solid #ccc;
            max-width: 100% !important;
        }
        & td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            min-height: 45px;
            padding-left: 40% !important;
            text-align: left !important;
            word-break: break-all;
        }
        & td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }
        /*
        Label the data
        */
        &.customers {
            & td:nth-of-type(1):before {
                content: "Debitor no";
            }
            & td:nth-of-type(2):before {
                content: "CVR no";
            }
            & td:nth-of-type(3):before {
                content: "Name";
            }
            & td:nth-of-type(4):before {
                content: "Email";
            }
            & td:nth-of-type(5):before {
                content: "Secondary email";
            }
            & td:nth-of-type(6):before {
                content: "Contact persons";
            }
            & td:nth-of-type(7):before {
                content: "Status";
            }
            & td:nth-of-type(8):before {
                content: "Actions";
            }
        }
        &.employees {
            & td:nth-of-type(1):before {
                content: "Name";
            }
            & td:nth-of-type(2):before {
                content: "Email";
            }
            & td:nth-of-type(3):before {
                content: "Role";
            }
            & td:nth-of-type(4):before {
                content: "Status";
            }
            & td:nth-of-type(5):before {
                content: "Actions";
            }
        }
        &.depotcats {
            & td:nth-of-type(1):before {
                content: "Name";
            }
            & td:nth-of-type(2):before {
                content: "Status";
            }
            & td:nth-of-type(3):before {
                content: "Actions";
            }
        }
        &.poisons {
            & td:nth-of-type(1):before {
                content: "Name";
            }
            & td:nth-of-type(2):before {
                content: "Amount";
            }
            & td:nth-of-type(3):before {
                content: "Status";
            }
            & td:nth-of-type(4):before {
                content: "Actions";
            }
        }
        &.animals {
            & td:nth-of-type(1):before {
                content: "Name";
            }
            & td:nth-of-type(2):before {
                content: "Status";
            }
            & td:nth-of-type(3):before {
                content: "Actions";
            }
        }
        &.customer-locations {
            & td:nth-of-type(1):before {
                content: "Name";
            }
            & td:nth-of-type(2):before {
                content: "Address";
            }
            & td:nth-of-type(3):before {
                content: "Contact persons";
            }
            & td:nth-of-type(4):before {
                content: "Email";
            }
            & td:nth-of-type(5):before {
                content: "Zipcode";
            }
            & td:nth-of-type(6):before {
                content: "Status";
            }
            & td:nth-of-type(7):before {
                content: "Actions";
            }
        }
        &.reportlines {
            & td:nth-of-type(1):before {
                content: "Depot";
            }
            & td:nth-of-type(2):before {
                content: "Activity";
            }
            & td:nth-of-type(3):before {
                content: "Animal";
            }
            & td:nth-of-type(4):before {
                content: "Placement";
            }
            & td:nth-of-type(5):before {
                content: "Type";
            }
            & td:nth-of-type(6):before {
                content: "Added poison";
            }
        }
        &.all-servicereports {
            & td:nth-of-type(1):before {
                content: "ServiceDate";
            }
            & td:nth-of-type(2):before {
                content: "Location Name";
            }
            & td:nth-of-type(3):before {
                content: "Location Address";
            }
            & td:nth-of-type(4):before {
                content: "Completed By";
            }
            & td:nth-of-type(5):before {
                content: "Next Service Date";
            }
            & td:nth-of-type(6):before {
                content: "Status";
            }
            & td:nth-of-type(7):before {
                content: "Actions";
            }
        }
        &.rapportlines {
            & td:nth-of-type(1):before {
                content: "Depot";
            }
            & td:nth-of-type(2):before {
                content: "Activity";
            }
            & td:nth-of-type(3):before {
                content: "Animal";
            }
            & td:nth-of-type(4):before {
                content: "Placement";
            }
            & td:nth-of-type(5):before {
                content: "Type";
            }
            & td:nth-of-type(6):before {
                content: "Added poison";
            }
        }
    }
}

.form-group.required .control-label:after {
    content: " *";
    color: red;
}

.navbar-right {
    margin-right: 0px;
}
